doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul
      li
        a(href='/') Main
      li
        a(href='/users') Users
      li
        a(href='/mail') Mailer

    block content
